body {
  background-color:black;
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  font-style:light;
}
.name {
  border:2px solid white;
  border-radius:5px;
  padding:80px 180px 80px 180px;
  text-align:center;
  width:20%;
  position: relative;
  top:20vh;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  left:50vw;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
