body {
  background:#000;
}
.legal {
  position:absolute;
  text-align:center;
  font-family:Helvetica, sans-serif;
  font-size:0.2em;
  width:50vw;
  height:5vh;
  margin:auto;
  top:95vh;
  left:25vw;
  color:#ff0000;
}
.spacejamlogo {
  display:block;
  height:30vh;
  margin:auto;
  margin-top:35vh;
}
