body {
  background:#000;
}
.legal {
  position:absolute;
  width:20em;
  height:10vh;
  margin:auto;
  top:90vh;
  color:#ff0000;
}
.spacejamlogo {
  display:block;
  height:30vh;
  margin:auto;
  margin-top:35vh;
}
